
#slideSource {
    opacity: 0;
    transition: opacity 1s;
}

#slideSource.fade {
    opacity: 1;
}

#game {
    opacity: 1;
    transition: opacity 1s;
}

#game.fade {
    opacity: 0;
}

#game {
    height: 8em;
    width: 12em;
    font-size: 2em;
    background-color: lavender;
}

#container {
    display: flex;
    flex-direction: row;
}


