
#slideSource {
    opacity: 0;
    transition: opacity 1s;
}

#slideSource.fade {
    opacity: 1;
}

#game {
    opacity: 1;
    transition: opacity 1s;
}

#game.fade {
    opacity: 0;
}

#game {
    height: 8em;
    width: 12em;
    font-size: 2em;
    background-color: lavender;
}

#another-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the elements horizontally */
}

#fire,
#grass,
#water {
    text-align: center; /* Center the text (images) horizontally */
    margin: 0 10px; /* Add some margin to separate the elements */
}

#fire img,
#grass img,
#water img {
    max-width: 100%; /* Ensure the images don't exceed their container's width */
}